@charset "utf-8";
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input{margin:0;padding:0;-webkit-text-size-adjust:none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
a img{border:0}
body{color:#333;text-align:center;font:12px "瀹嬩綋";}
ul, ol, li{list-style-type:none;vertical-align:0}
a{outline-style:none;color:#535353;text-decoration:none}
a:hover{color:#D40000;text-decoration:none}


/* servicesBox */
.servicesBox{width:1000px;height:270px;margin:0 auto;clear:both;line-height:18px;color:#999999;font-size:12px;}
.servicesBox .serBox{cursor:pointer;border:1px solid #fff;display:inline;width:198px;height:250px;float:left;overflow:hidden;background-color:#f7f7f7;position:relative;}
.servicesBox .serBoxOn{font-family:"微软雅黑";display:none;width:320px;height:270px;background:url(../images/serboxon_bg.gif) repeat 0px 0px;position:absolute;left:0px;top:0px;z-index:19;}
.servicesBox .serBox .pic1{width:110px;height:110px;text-align:center;position:absolute;top:22px;right:41px;z-index:99;}
.servicesBox .serBox .pic2{width:110px;height:110px;text-align:center;position:absolute;top:22px;left:-110px;z-index:99;}
.servicesBox .serBox .txt1{width:198px;height:100px;color:#999999;position:absolute;top:145px;left:0px;z-index:99;}
.servicesBox .serBox .txt2{width:198px;height:100px;color:#a9cf4f;position:absolute;top:145px;right:-240px;z-index:99;}
.servicesBox .serBox span.tit{font-size:16px;display:block;text-align:center;}
.servicesBox .serBox .txt1 .tit{color:#000000;line-height:30px;}
.servicesBox .serBox .txt2 .tit{color:#fff;line-height:30px;font-family:"微软雅黑";}
.servicesBox .serBox p{padding:0 10px;text-align:center;}